
*{
    font-size: 12px;
    min-height: 0;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro' , 'Font Awesome 6 Free';
    font-weight: bold;
}
window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

#workspaces {  
}

#workspaces button {
    color: white;
    border-radius: 15px; 
    transition: border .3s;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;

}

#workspaces button.active {
    background-color: orange;
    border: 1px solid black;
    font-weight: bolder;
    color: black;
    
}

#workspaces button.empty {
    color: gray;
}

#clock {
    background-color: orange;
    color: black;
    border-radius: 10px;
}
#network {
}

#memory {

}

#cpu {

}

#custom-sep {
    color: grey;
}

#tray {
    border-bottom: 2px dotted orange;
}
#custom-mprisprev {
    color: orange;  
    border-radius: 10px;
}

#custom-mprisnext {
    color: orange;
    border-radius: 10px;
}

#cava {
    padding-left: 2px;
    padding-right: 2px;
    border: 2px solid ;
    border-radius: 10px;
}

#custom-exit {
    color: black;
    background-color: orange;
    border-radius: 15px;
}
